body {
    background: url('/images/macbook.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

div.register-form-box {
    margin: 20px auto;
    padding: 20px;
    background-color:#333333;
    border: solid 1px #333333;
    border-radius: 10px;

    box-shadow: 0px 10px 36px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 10px 36px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 36px 0px rgba(0,0,0,0.75);
}

#login-form {
    display: none;
}

#register-submit, #login-submit {
    display: block;
    margin: auto;
    background-color: #16639e;
    border: solid 1px #ffffff;
    border-radius: 50px;
}

#logout-btn, #delete-btn {
    display: block;
    border: solid 1px #333333;
    border-radius: 50px;
    float: right;
    font-weight: bold;
}

#delete-btn {
    margin-right: 10px;
}

a.register-link {
    color: #ffffff;
}

div.home-box {
    background-image: url('/images/gradient.png');  
    color: #ffffff;
    margin: 20px 20px;
    padding: 10px;

    border: solid 1px #333333;

    box-shadow: 0px 10px 36px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 10px 36px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 36px 0px rgba(0,0,0,0.75);
}

div.bitcoin-data {
    margin-top: 20px;
    text-align: center;
}

div.profile-data {
    margin-top: 20px;
    border: solid 1px #ffffff;
    border-radius: 10px;
    padding: 20px;
}

div.profile-pic-box {
    text-align: center;
}

#profile-pic {
    margin: 20px auto;
    border: solid 1px #333333;
    border-radius: 10px;
    display: block;

    box-shadow: 0px 10px 36px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 10px 36px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 36px 0px rgba(0,0,0,0.75);
}

span.profile-name {
    font-weight: bold;
}

div.friend-list {
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
}

img.friend-pic {
    border: solid 2px #ffffff;
    border-radius: 50px;
    margin-left: -10px;

    cursor: pointer;

    box-shadow: 0px 10px 36px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 10px 36px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 36px 0px rgba(0,0,0,0.75);
}